[submodule "libbs2b"]
	path = dll/src/libbs2b
	url = git://github.com/alexmarsev/libbs2b.git
[submodule "soxr"]
	path = dll/src/soxr
	url = git://github.com/alexmarsev/soxr.git
[submodule "soundtouch"]
	path = dll/src/soundtouch
	url = git://github.com/alexmarsev/soundtouch.git
[submodule "rubberband"]
	path = dll/src/rubberband
	url = git://github.com/breakfastquay/rubberband.git
[submodule "fftw"]
	path = dll/src/fftw
	url = git://github.com/alexmarsev/fftw3.git
	branch = codelets-3.3.4
